@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
                                                     /*Section 1*/
.section-1{
    background: black;
    height: 100vh;
    width: 100%;
}
                                                /*Section 1 navbar*/

#my-nav{
    background-color: rgba(0,0,0,0) !important;
    line-height: 40px;
}
@media screen and (max-width : 989px){
    #my-nav{
        background-color: black !important;
    }
}
#my-nav.scrolled{
    background-color: black !important;
    transition: 0.5s ease;
}
.navbar-nav{
    line-height: 20px;
}
.navbar-brand , .nav-link{
    color: white !important;
}
.navbar-brand{
    color: rgb(228, 42, 104) !important;
    font-size: 1.4em !important;
    font-weight: bolder;
}
.nav-item{
    width: 100px;
    height: 40px;
    text-align: center;
}
.nav-link.active ,.nav-link:hover{
    border-bottom: 1.5px solid white;
}
.section-1 .fa-search{
    color: white;
}

                                                /* carousel Section 1*/
.carousel-item img{
    opacity: 0.5;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carousel-caption{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel-caption h4{
    font-size: 2.6em;
    padding-bottom: 0.3em;
    animation-delay: 1.3s;
    animation-duration: 1s;
}
.carousel-caption p{
    font-size: 1em;
    animation-delay: 0.7s;
    animation-duration: 1s
}
.carousel-caption .btn1{
    background-color: white;
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 7px 20px;
    animation-delay: 0.4s;
}
.carousel-caption .btn1:hover{
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
}

                                                /*Section 2*/

.section-2 .first_para{
    padding: 5% 0;
    color: black;
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
}
                                            /* Section 2 images */
.section-2 .card-img-overlay{
    opacity: 0;
    transition: 1s;
}
.section-2 .card-img-overlay img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.section-2 .card-img-overlay:hover{
    opacity: 1;
}
.fig-caption{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.fig-caption:hover p , .fig-caption:hover h6{
    opacity: 0;
}
.fig-caption h6{
    font-size: 1.8em;
}
.fig-caption a{
    position: absolute;
    transform: translateY(-50%);
    border: 2px solid black;
    color: black;
    padding: 2px 5px;
    text-decoration: none;
    opacity: 0;
    font-size: 15px;
    transition: 0.3s ease-in-out;
}
.fig-caption a:hover{
    background-color: black;
    color: white;
}
.fig-caption:hover a{
    opacity: 1;
    transform: translateY(0);
    text-decoration: none;
}
                                        /* Section 2 button */
.section-2 .view-more{
    margin: 4% auto 0 auto;
    color: black;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 25px;
    border: 2px solid black;
}
.section-2 .view-more:hover{
    background-color: black;
    color: white;
}

                                                /*Section 3*/
.section-3 .container{
    margin: 7%;
}
.section-3 .banner_item{
    position: relative;
    overflow: hidden;
}
.section-3 .banner_item .banner_item_pic{
    float: right;
    margin-bottom: 10%;
    width: 430px;
}
.section-3 .banner_item .banner_item_pic img{
    position: relative;
    opacity: 0.8;
    z-index: -1;
}
.section-3 .watch-img{
    height: 430px;
}
.section-3 .banner_item .banner_item_text{
    line-height: 30px;
    width: 300px;
    float: left;
    margin-top: -50%;
}

@media screen and (max-width:770px){
    .section-3 .banner_item .banner_item_text{
        margin-top: 0%;
        width: 100%;
        text-align: center;
        margin-bottom: 10%;
    }
    .section-3 .banner_item .banner_item_pic{
        margin-bottom: 0;
    }
}
.section-3 .banner_item .banner_item_text h2{
    font-weight: 700;
}
.section-3 .banner_item_text a{
    position: relative;
    text-decoration: none;
    color: red;
    font-weight: 600;
}
.section-3 a::after{
    content: '';
    position: absolute;
    background-color: red;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: 0.4s ease-in-out;
}
.section-3 a:hover::after{
    width: 100%;
}
                                /*Section 4*/

.section-4{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('section-4\ bg.jpeg');
    height: 80vh;
    min-height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.section-4 .row{
    padding-top: 9%;
}
.section-4 .text-leftt h2{
    font-size: 3.5em;
    font-weight: 700;
    color: #ffc300;;

}
.section-4 .text-rightt{
    color: white;
}
.section-4 .text-rightt h2{
    font-size: 1.5em;
    font-weight: 700;
}
.section-4 .btn1{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 7px 25px;
    font-weight: 600;
}
.section-4 .btn1:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease-in-out;
}
                                            /*Section 5*/
.section-5{
    padding: 10% 0 8%;
}
.section-5 h1{
    text-align: center;
    font-weight: 800;
    font-size: 2.2em;
    letter-spacing: 1px;
    margin-bottom: 5%;
}
.section-5 .row{
    margin: 0 1.3%;
}
.section-5 .card{
    border:  none;
    overflow: hidden;
}
.section-5 .card:hover img{
    transform: scale(1.2);
    transition: 1s;
}
.section-5 .card .card-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    opacity: 0;
    transition: opacity 1s;
}
.section-5 .card .card-img-overlay:hover{
    opacity: 1;
}
.section-5 .card .card-body{
    text-align: center;
    margin-bottom: 5%;
}
.section-5 .card .card-title{
    font-weight: 600;
    font-size: 1.2em;
}
.section-5 .card .card-text{
    font-size: 0.9em;
    color: gray;
}
                                            /* footer Section 6*/
.section-6{
    background-color: black;
    padding: 5% 2% 2% !important;
}
.section-6 .footer-heading{
    margin: 2% 0;
    color: whitesmoke;
    font-size: 1.3em;
    font-weight: bolder;
}
.section-6 .footer_ul{
    margin-top: 12%;
}
.section-6 .footer_li{
    list-style: none;
    margin-bottom: 5%;
    border-bottom: 1px solid white;
    line-height: 40px;
}
.section-6 li a{
    text-decoration: none;
    color: gray;
    font-size: 0.8em;
    font-weight: 600;
}
.section-6 li a:hover{
    color: white;
}
                                                /* segment_1*/
.section-6 .segment_1 .footer-navbar-brand{
    color: rgb(228, 42, 104) !important;
    font-size: 1.5em !important;
    font-weight: bolder;
}
.section-6 .segment_1 p{
     color: white;
     font-size: 0.85em;
     margin: 11% 0;
     line-height: 25px;
}
.section-6 .segment_1 li{
    margin-right: 20px;
    list-style: none;
    font-size: 2em;
}
.section-6 .segment_1 a{
    text-decoration: none;
    color: gray;
}
.section-6 .segment_1 a:hover{
    color: white;
}
                                                /* segment_2*/
.section-6 .segment_2{
    color: white;
}

                                                /* segment_4*/

.section-6 .segment_4 input[type=email]::placeholder{
    color: gray;
    
}
.section-6 .segment_4 input[type=email]{
    display: block;
    width: 250px;
    border: none;
    margin: 35px 0;
    color: white;
    background-color: transparent;
    padding: 8px 0 5px 0;
    border-bottom: 1.5px solid gray;
}
.section-6 .segment_4 .btn1{
    background-color: white;
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 7px 60px;
    transition: 0.4s ease-in-out;
}
.section-6 .segment_4 .btn1:hover{
    background: black;
    color:white;
    border: 2px solid white;
}
                            /* footer bottom text */
.section-6 .footer_bottom-text{
    color: white;
    text-decoration: none;
    margin: 30px auto 0 auto;
    text-align: center;
}